<!DOCTYPE html>
<html>
  <head>
    <!-- redirect to join page until the whole site is finished -->
    <!-- if you're reading this... great! Send me a message about helping out! -->
    <script>
      if (window.location.hostname == "ohioindivisible.org") {
        window.location.href = "http://join.ohioindivisible.org";
      }
    </script>

    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Information on Ohio Progressives.">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    {{ content }}
  </body>
</html>
